{% extends 'base.html' %}
{% block content %}
    <form>
        <form id="searchcommentform" method= "POST" action="{{ url_for('commentSearch') }}">
        <div class="form-group">
          <label for="title">Search Comment(must be exact match only):</label>
          <input type="text" class="form-control" name="searchcomment" id="searchcomment">
        </div>
        <button form="searchcommentform" type="submit" class="btn btn-primary"> Submit </button>
      </form>
    </form>

{% endblock %}